@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    overflow-x: hidden;
 
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

.nav {
    background-color: black;
    z-index: 2;
}

.nav ul {
    display: inline-block;
}

.nav li {
    list-style-type: none;
    text-decoration: none;
    display: block;
}

.bg {
    background-color: darkblue;
    background-image: linear-gradient(#0E4D87, #0C2447);
    overflow: hidden;
    position: relative;
}


.bg-2 {
    position: absolute;
    width: 100%;
    top: 5em;
    left:0;
    animation: stars 25s linear alternate infinite;
    -webkit-animation: stars 25s linear alternate infinite;
}

@keyframes stars {
    
    0% {
        transform: scale(1,1);
    }
    
    100% {
        transform: scale(2,2);
    }

}

@-webkit-keyframes stars {
    
    0% {
        -webkit-transform: scale(1,1);
    }
    
    100% {
        -webkit-transform: scale(2,2);
    }

}

.toggle {
    width: 2em;
    float: right;
    margin: .5em;
}

.nav ul li a {
    list-style: none;
    text-decoration: none;
    float: none;
    color: darkblue;
}

.nav {
    background-color: white;
    display: none;
}

.nav ul {
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: .5em 0;
    margin: 0;
}

.nav li:hover {
    background-color: yellow;
}

.nav a{
    height: 1em;
    font-size: 1.3em;
}

.logo {
    position: absolute;
    width: 40%;
    left: 30%;
    bottom: 40%;
}
    
.lightbeam {
    position: absolute;
    width: 25%;
    left: 37.5%;
    top: 35%;
    overflow: hidden;
    opacity: .1;
    transition: opacity 3s ease-in;
}

.beam:hover .lightbeam {
    opacity: .6;
}


.arrow {
    width: 8%;
    height: 8%;
    /*border: 3px solid black;
    border-radius: 50%; 
    background-color: white;*/
    margin: 0 46%;
    animation: arrow 800ms linear infinite;
    -webkit-animation: arrow 800ms linear infinite;
}

@keyframes arrow {
    0% {
        transform: translateY(3px);
    }
    
    50% {
        transform: translateY(7px);
    }
    
    100% {
        transform: translateY(3px);
    }
}

@-webkit-keyframes arrow {
    0% {
        transform: translateY(3px);
    }
    
    50% {
        transform: translateY(7px);
    }
    
    100% {
        transform: translateY(3px);
    }
}


.scroll {
    background-color: white;
    opacity: .7;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    padding: .3em;
}

.scroll:hover {
    opacity: 1;
}

.title {
    position: absolute;
    top: 50%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    color: white;
    font-size: 4em;
}

.gallery-title {
    text-align: center;
}

.thumbnails {
    margin: 0;
    padding: 0;
}

.thumbnails li {
    display: inline-block;
}

.thumnails a {
    display: block;
}

.gallery {
    width: 100%;
}

.lightbox {
    position: fixed;
    left: 0;
    right: 100%;
    top: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.lightbox[data-state='visible']{
    opacity: 1;
    right: 0;
    top: 0;
}

.lightbox-container {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 10px;
    top: 10px;
    background-color: rgba(14,77,135, .7);
}

.lightbox-img {
    width: 100%;
    display: block;
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 1em;
}
  
.btn-close {
    border: none;
    background-color: white;
    font-size: 2em;
}


@media only screen and (min-width:370px) {
    
    .lightbeam {
        top: 35%;
    }

    .title {
    top: 45%;
    font-size: 5em;
    text-align: center;
    }
}
    
@media only screen and (min-width:500px) {
    
    .lightbeam {
        top: 40%;
    }

    .title {
    top: 45%;
    font-size: 6em;
    }
}

@media only screen and (min-width:700px) {
    
    .lightbeam {
        top: 45%;
    }

    .title {
    top: 50%;
    font-size: 9em;
    }
}

@media only screen and (min-width:1000px) {
    
    .lightbeam {
        top: 45%;
    }
    
    .title {
    top: 55%;
    font-size: 12em;
    }
}